body{
	/*background: -webkit-linear-gradient(top, #fff 0%, #4fc3f7b8 120%);
	background: -moz-linear-gradient(top, #fff 0%, #4fc3f7b8 120%);
	background: -o-linear-gradient(top, #fff 0%, #4fc3f7b8 120%);
	background: -ms-linear-gradient(top, #fff 0%, #4fc3f7b8 120%);
	background: linear-gradient(top, #fff 0%, #4fc3f7b8 120%);*/
}
